body{
font:12px "微软雅黑","Arial";
}
nav{
height:30px;
width:990px;
border:1px solid #E2E2E2;
border-top:2px solid #939393;
background-color:#F7F7F8;
padding-left:5px;
}
section{
width:991px;
border-bottom:1px solid #E1E1E1;
}
table{
width:990px;
border-spacing:5px;
vertical-align:middle;
}
td{
text-align:center;
}
.lie1,#zb{
text-align:left;
font-size:15px;
}
td>a,#footer1>a,#footer2>a,nav a{
text-decoration:none;
color:#4997E0;
}
#zb{width:650px;}
th{
border-bottom:1px solid #E3E3E3;
color:#5F5F5F;
}
td{
border-bottom:1px dotted #E3E3E3;
color:#9E9E9E;
}
table .row1{
background:url("iconlist_1.png") no-repeat -109px -219px;
padding-left:22px
}
table .row2{
background:url("iconlist_1.png") no-repeat -151px -219px;
padding-left:22px
}
table a:hover,#footer1>a:hover,#footer2>a:hover{
text-decoration:underline;
}
#footer1{
margin:5px 0px 2px;
float:left;
}
#footer2{
margin:5px 0px 2px;
float:right;
}
nav a{
float:left;
line-height:28px;
font-size:17px;
padding:2px 20px;
}
nav a:hover{
color:red;
}
#sdt{
border-top:2px solid red;
margin-top:-4px;
background-color:white;
padding-bottom:6px;
padding-top:7px;
font:18px "宋体";
color:red;
text-decoration:none;
border-left:1px solid #E1E1E1;
border-right:1px solid #E1E1E1;
}